<html>

<head>
	<title>Any Feed </title>
	<script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
	<script src="/assets/modfront.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<!-- load fontawesome -->
	<link href="/css/styles1.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<script>
		$('body').on('click', 'h2', function () {
			$("#FeedEnter").load(location.href + " #FeedEnter>*", "");
		});


		setInterval(function () {
			$("#FeedEnter").load(location.href + " #FeedEnter>*", "");
		}, 1000);

	</script>

	<div class="buttonbox">
		<button2 onclick="location.href='/admin/logout'" type="button">
			Log Out</button2>
		<button2 onclick="location.href='/admin/signup'" type="button">
			Add New Moderator</button2>
		<button2 onclick="location.href='/admin/modlist'" type="button">
			Moderators List</button2>
		<button2 onclick="location.href='/admin/mod'" type="button">
			Slow Mode</button2>
	</div>
	<div id=shadow2>
		<br></br>
	</div>

	<div class="main">

		<div id="wrapper">
			<div id="FeedEnter">

				<ul>


					<%var k=feeds.length-1%>
						<h2> Live View </h2>
						<%for(var i=0; i<feeds.length;i++){%>
							<li>
								<%=feeds[k-i].content%>
									<button3 type="sub">Delete</button3>
									<p4>
										<%=feeds[k-i]._id%>
									</p4>
							</li>



							<%}%>


				</ul>
			</div>
		</div>
	</div>



</body>

</html>