<html>

<head>
	<title>Any Feed </title>
	<script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
	<script src="/js/modfront.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<!-- load fontawesome -->
	<link href="/css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<script>
		$('body').on('click', 'h2', function () {
			$("#FeedEnter").load(location.href + " #FeedEnter>*", "");
		});
		var flag = false;
		$(document).scroll(function (e) {
			window.onscroll = function (ev) {
				if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight) {
					var scrollPos = $(window).scrollTop();
					window.scrollTo(0, scrollPos - 1);
					if (flag == false) {
						$('li').css({ 'pointer-events': 'none' });
						setTimeout(function () {
							$("#FeedEnter").load(location.href + " #FeedEnter>*", "");
						}, 500);
						flag = true;
						if (flag == true) {
							setTimeout(function () {
								flag = false;
							}, 1500);
						}
					}
				}
			}
		});
	</script>

	<div class="buttonbox">
		<button2 onclick="location.href='/admin/logout'" type="button">
			Log Out</button2>
		<button2 onclick="location.href='/admin/signup'" type="button">
			Add New Moderator</button2>
		<button2 onclick="location.href='/admin/modlist'" type="button">
			Moderators List</button2>
		<button2 onclick="location.href='/admin/live'" type="button">
			Live Mode</button2>
	</div>
	<div id=shadow2>
		<br></br>
	</div>

	<div class="main">

		<div id="wrapper">
			<div id="FeedEnter">
				<br />
				<h2>🡻 🡻 🡻 Click On Any Feed To Delete 🡻 🡻 🡻 </h2>
				<ul>


					<%for(var i=0; i<feeds.length;i++){%>
						<li>
							<p3>
								<%=feeds[i].content%>
							</p3>
							<p3>
								-
								<%=feeds[i].Topic%>
							</p3>
							<button3 data-topic="<%=feeds[i].Topic%>" type="sub">Delete</button3>
							<p4>
								<%=feeds[i]._id%>
							</p4>
						</li>



						<%}%>
							<h2>🡻 🡻 🡻 Scroll Down To Load New Feeds 🡻 🡻 🡻 </h2>

				</ul>
			</div>
		</div>
	</div>



</body>

</html>