<!-- views/signup.ejs -->
<!doctype html>
<html>

<head>
	<title>Any Feed </title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<!-- load fontawesome -->
	<link href="/css/styles0.css" rel="stylesheet" type="text/css" />

</head>

<body>
	<div class="buttonbox">
		<button2 onclick="location.href='/admin/logout'" type="button">
			Log Out</button2>
		<button2 onclick="location.href='/admin/mod'" type="button">
			Feeds List</button2>
		<button2 onclick="location.href='/admin/modlist'" type="button">
			Moderators List</button2>
	</div>
	<div id=shadow2>
		<br></br>
	</div>

	<div id="wrapper">
		<h1>
			<span class="fa fa-sign-in"></span> Add Moderator</h1>
		<% if (message.length > 0) { %>
			<div class="alert alert-danger">
				<%= message %>
			</div>
			<% } %>
				<form action="/admin/signup" method="post">
					<input type="text" name="username" placeholder="Enter New Moderator's Username" required />
					<input type="password" name="password" placeholder="Enter Password" required>
					<button type="sub"> Register </button>
				</form>


				<div id="wrapper2">
					<p>Go back to
						<a href="/admin/mod">Moderator Panel</a>
					</p>
					<p>Or go
						<a href="/">AnyFeed</a>.</p>

				</div>
	</div>

	</div>
</body>

</html>