<html>
    <head>
        <title>AnyFeed</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/stylesheet.css">
        <script src="/js/popper.min.js"></script>    
        <script src="/js/jquery.min.js"></script>        
        <script src="/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="app">
                <div class="container"> 
                        <div class="row">
                          <div class="col-md-3">
                            <h1>Left Frame</h1>
                          </div>
                          <div class="col-md-6">
                            <div class="container" id="Entry">
                              <form>
                                <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Alias(leave empty for anonymous)">
                                  <textarea rows="6" class="form-control" placeholder="Your entry"></textarea>
                                </div>
                              </form>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <h1>Right Frame</h1>
                          </div>
                        </div>
                      </div>
        </div>
        <script src="/js/vue.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>