<html>

<head>
  <title>AnyFeed</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/css/stylesheet.css">
  <script src="/js/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">AnyFeed</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="form-inline my-2 my-lg-0" id="search">
        <input class="form-control mr-sm-2" type="text" placeholder="Search Entries" aria-label="Search" v-model="query">
        <button class="btn btn-outline-success my-2 my-sm-0" v-on:click="searchQuery">Search</button>
      </div>
    </div>
  </nav>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col-md-3" id="left-frame">

        </div>
        <div class="col-md-6">
          <div class="container" id="main-frame">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Alias(leave empty for anonymous)" v-model="inputAlias">
              <textarea rows="5" class="form-control" placeholder="Your entry" v-model="inputText"></textarea>
              <button class="btn btn-primary btn-block" v-on:click="sendEntry">Send!</button>
            </div>
            <ul class="list-group">
              <li class="list-group-item" v-for="entry in entryList">
                <div class="container">
                  <p>{{entry.content}}</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">

        </div>
      </div>
    </div>
  </div>
  <script src="/js/vue.js"></script>
  <script src="/js/vue-components.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>