#app {
  margin-top: 40px;
}

textarea {
  resize: none;
}

body {
  background-color: #f5f8fd;
}

.entry-card {
  border-radius: 10px;
  border: 2px solid #61beff;    
  padding: 0px;
  margin-top:20px;
  overflow: hidden;
}
.entry-card-title {
  background-color: #e8f8ff;
}
.entry-card-title > button {	
  font-size: normal;
  color: #151b1d;
}
.entry-card-body{
  border-radius: 2px;
  border: 2px solid #3ca6ff; 
  padding: 10px;
}
.entry-card-content{

}
.entry-card-footer{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  background-color: #f2faff;
}
.entry-card-footer > div > div > p {
  color: #09211d;
}


.entry-date {
  font-size: small;
  color:#2f6365;
}

.entry-alias {  
  font-size: small;
  color: cadetblue;
}

#left-frame {
  
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  vertical-align: middle;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
